<div class="main row">
	<div class="left-side col-xs-1 pr-0 pl-0">
		<h1>Git Guard</h1>
	</div>

	<div class="col-xs-11 pr-0">

		<form class="form-inline mb-0" *ngIf="isEdit">
			<div class="form-group">
				<input 
				type="text" 
				id="githubRepoLink" 
				name="githubRepoLink"
				class="form-control" 
				placeholder="Github Repository Link"
				[(ngModel)]="githubRepoLink" 
				required>
			</div>

			<button 
				class="btn btn-outline-success" 
				type="button"
				(click)="setGithubRepoLink()">
				<md-icon>done</md-icon>
			</button>
		</form>


		<div class="repoLink" *ngIf="!isEdit">
			<span>Repository Link:</span>
			<span *ngIf="!githubRepoLink">Unspecified</span> 
			<span *ngIf="githubRepoLink" class="d-inline">{{githubRepoLink}}</span>
			<button 
				class="btn btn-secondary"
				(click)="editGithubRepoLink()">
				<md-icon>edit</md-icon>
			</button>
		</div>
	</div>
</div>