body {
    font-size: 14px !important;
}

.loading {
  background-color: #373a3c;
  color: #FFEA73;
}

login > .container-fluid,
setup > .container-fluid {
    background-image: url("../assets/background.jpg");
    background-size: cover;
}

login .login-main,
setup .login-main { 
    position: relative;
    background-color: rgba(252,208,89,0.9);
    padding: 30 40;
    border-radius: 15px;
}

login .inspecto-cat,
setup .inspecto-cat { 
    position: absolute;
    top: -264;
    right: -50px;
    height: 400px;
    width: 400px;
}

.loading .logo,
login .logo,
setup .logo {
    font-family: "Montserrat";
    font-size: 4em;
}

login .sub-text,
setup .sub-text { 
    font-family: "Merriweather";
}

login form,
setup form {
    padding: 0 !important;
}

login .githubRepoLinkCol,
setup .githubRepoLinkCol {
    padding: 0 !important;
}

login .btn-github,
setup .btn-github { 
    color: #FFFFFF;
    background-color: #7a3497 !important;
}

login .octocat-copyright,
setup .octocat-copyright { 
    color: #FFFFFF;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

login .octocat-copyright a,
setup .octocat-copyright a {
    color: #A2D7D8;
}

setup .big-control,
setup .big-button {
    padding: 1em;
}

dashboard .left-side {
    background-color: #FFEA73;
}

titlebar h1 {
    font-family: "Montserrat";
    font-size: 1.2em;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

titlebar .repoLink {
    color: #0275d8 !important;
    text-decoration: none !important;
    cursor: pointer;
}

.titlebar {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    position: relative;
    z-index: 1;
}

sidebar {
    padding: 0 !important;
}

.sidebar {
    box-shadow: 0 0 0 rgba(0,0,0,0.24), 0 1px 2px rgba(0,0,0,0.24);
}

sidebar .logo {
    background-color: #373a3c;
    color: #FFEA73;
}

sidebar .nav-item {
    margin: 0;
    cursor: pointer;
}

sidebar .nav-link {
    border-radius: 0 !important;
}

sidebar .nav-link.active {
    background-color: #373a3c !important;
    border-style: solid;
    border-width: 1 0 1 0;
    border-color: #DDDDDD;
}

sidebar md-icon {
    height: 50px;
    width: 50px;
    font-size: 50px !important;
    margin: 0 auto;
}

sidebar p {
    margin: 0;
    text-align: center;
    overflow: hidden;
}

commit-history #fromDate .input-group-addon,
commit-history #toDate .input-group-addon {
    padding: 0 10 0 10;
    cursor: pointer;
}

multi-select button {
    cursor: pointer;
}

multi-select .list-group {
    max-height: 500px;
    overflow-y: auto;
}

file-select .main-container {
    border: 2px solid #DDDDDD;
    border-radius: 5px;
}

file-select .file-list {
    padding: 0;
    max-height: 350px;
    overflow-y: auto;   
}

file-select .link,
file-select .path {
    border-width: 0 0 2 0;
    border-color: #DDDDDD;
    border-style: solid;
}

file-select .link:last-child {
    border-width: 0px;
}

file-select .path {
    background-color: #e6f1f6;
    padding-top: 10px;
    padding-bottom: 10px;
}

file-select .link {
    color: #0275d8;
    cursor: pointer;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

file-select .link .icon {
    padding-right: 5px;
}

file-select .selected {
    background-color: #eaffea;
}

file-select .link:hover:not(.selected) {
    background-color: rgb(235,236,237);
}

file-history .visualization {
    padding-top: 15px;
}

file-history .file-changes-list {
    padding-right: 0px;    
}

file-history .file-changes-metadata {
  
}

file-changes .main {
    font-size: 1em;
    font-family: 'consolas';
    overflow-x: auto;
    border-radius: 5px;
    border-style: solid;
    border-width: 1;
    border-color: #DDDDDD;
}

file-changes .index {
    min-width: 50px;
    text-align: right;
    padding: 0px 5px;
    -webkit-box-flex: 0;
    -webkit-flex: 0;
    flex: 0;
}

file-changes .newIndex {
    border-style: solid;
    border-width: 0 1 0 1;
    border-color: #DDDDDD;
}

file-changes pre {
    white-space: pre-wrap;
    margin: 0px;
}

file-changes .metadata {
    background-color: #D5FFFF;
    border-style: solid;
    border-width: 0 0 1 0;
    border-color: #DDDDDD;
}

file-changes .new {
    background-color: #D9FBD9;
}

file-changes .old {
    background-color: #FFD7C1;
}

subscribe .logo {
    font-family: "Montserrat";
}

subscribe p {
    margin-bottom: 0.5rem;
}

final .wait-final {
    color: #373a3c;
}

final .final-data-table {
  overflow-y: auto;
  max-height: 500px;
}

.loader,
.loader:before,
.loader:after {
  background: #373a3c;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #373a3c;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.yellow-loader,
.yellow-loader:before,
.yellow-loader:after {
  background: #FFEA73;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.yellow-loader {
  color: #FFEA73;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.yellow-loader:before,
.yellow-loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.yellow-loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.yellow-loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}