<div class="col-xs-6">
	<div class="row">
		<div class="btn-group mx-auto" data-toggle="buttons">
			<button 
				[ngClass]="{
					'btn-outline-secondary': !showData[0],
					'btn-secondary': showData[0]
				}"
				class="btn" 
				(click)="toggleData(0)">Commits
			</button>
			<button 
				[ngClass]="{
					'btn-outline-secondary': !showData[1],
					'btn-secondary': showData[1]
				}"
				class="btn" 
				(click)="toggleData(1)">Additions
			</button>
			<button 
				[ngClass]="{
					'btn-outline-secondary': !showData[2],
					'btn-secondary': showData[2]
				}"
				class="btn" 
				(click)="toggleData(2)">Deletions
			</button>
		</div>
	</div>

	<div *ngFor="let barChart of displayBarCharts" style="display: block">
		<canvas baseChart
			[datasets]="barChart.barChartData"
			[labels]="barChart.barChartLabels"
			[options]="barChart.barChartOptions"
			[legend]="barChart.barChartLegend"
			[chartType]="barChart.barChartType">	
		</canvas>
	</div>

	<div class="row">
		<div class="mx-auto">
			<button class="btn btn-secondary" (click)="previousChart()"><md-icon>keyboard_arrow_left</md-icon>
			</button>
			<span>Showing {{peopleRange.start}} to {{peopleRange.end}}</span>
			<button class="btn btn-secondary" (click)="nextChart()"><md-icon>keyboard_arrow_right</md-icon>
			</button>
		</div>
	</div>
</div>

<div class="col-xs-6">
	Pie chart

	<div style="display: block">
		<canvas baseChart
			[data]="pieChartData"
			[labels]="pieChartLabels"
			[chartType]="pieChartType">	
		</canvas>
	</div>

</div>	