<div class="container-fluid">
    <div class="row h-100 flex-items-xs-middle">
        <div class="container">
            <div class="row">
                <div class="col-xs-8 login-main">
                    <div class="row">
                        <h1 class="logo">Git Guard</h1>
                    </div>
                    <form 
                        class="container-fluid"
                        *ngIf="isLoggedIn"
                        (ngSubmit)="onLinkFormSubmit()" #linkForm="ngForm">
                        <div class="row">
                            <h4 class="sub-text"><b>Welcome, User!</b></h4>
                        </div>
                        <div class="row">
                            <h5 class="sub-text">Enter a link for a Github repository</h5>
                        </div>
                        <div class="row">
                            <p class="sub-text"><i>Don't worry, you can change it later</i></p>
                        </div>
                        <div class="row">
                            <div class="col-xs-9 githubRepoLinkCol">
                                <input 
                                type="text" 
                                id="githubRepoLink" 
                                name="githubRepoLink"
                                class="form-control" 
                                placeholder="Github Repository Link"
                                [(ngModel)]="githubRepoLink" 
                                required>
                            </div>
                            <div class="col-xs-3 githubRepoLinkCol">
                                <button class="btn btn-github" type="submit">Start Guarding!</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="octocat-copyright">Super awesome <a target="_blank" href="https://octodex.github.com/inspectocat">Inspectocat</a> by <a target="_blank" href="https://github.com/jasoncostello">Jason Costello</a> via Octodex</div>
</div>