<template [ngIf]="!showVisualization">

    <div *ngIf="showError" class="row">
        <div class="col-xs-6 ">
            <div class="alert alert-danger" role="alert">
                Please finish the setup first!
            </div>
        </div>
    </div>   

    <div class="row">
        <div class="col-xs-6">
            <h5>Select a file</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 mb-1">
            <file-select [fileTree]="fileTree" [(fileSelect)]="fileSelect"></file-select>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button
                class="btn btn-outline-primary btn-block mb-1" 
                (click)="lineSelect.option = !lineSelect.option">
                Specify lines 
                <span *ngIf="lineSelect.option">&#x25B2;</span>
                <span *ngIf="!lineSelect.option">&#x25BC;</span>
            </button>
        </div>
    </div>
    <div class="row" *ngIf="lineSelect.option">
        <div class="col-xs-12">
            <form class="form-inline card card-block">
                <div class="form-group">
                    <label for="fromLine">From line</label>
                    <input type="number" class="form-control" name="fromLine" [(ngModel)]="lineSelect.fromLine" placeholder="0">
                </div>
                <div class="form-group">
                    <label for="toLine">to</label>
                    <input type="number" class="form-control" name="toLine" [(ngModel)]="lineSelect.toLine" placeholder="999">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button
                class="btn btn-outline-success btn-block mb-1" 
                (click)="showFileHistory()">
                Visualize
            </button>
        </div>
    </div>
</template>

<template [ngIf]="showVisualization">
    <button class="btn btn-secondary" (click)="goToSetup()">Back to setup</button>
    <div class="row visualization">
        <div class="file-changes-list col-xs-4">
            <div 
                *ngFor="let fileChanges of fileChangesList"
                [ngClass]="{
                    'card-outline-success': fileChanges === selectedFileChanges,
                    'card-outline-secondary': fileChanges !== selectedFileChanges
                }"
                (click)="selectFileChange(fileChanges)"
                class="card file-changes-metadata">

                <div class="card-header">
                    {{fileChanges.date}}
                    <md-icon 
                        *ngIf="fileChanges === selectedFileChanges"
                        class="float-xs-right">done</md-icon>
                </div>
                <div class="card-block">
                    <div class="card-title">
                        <b>
                            {{fileChanges.author}}, +{{fileChanges.file.additions}} additions, -{{fileChanges.file.deletions}} deletions
                        </b>
                    </div>

                    <div class="card-text">
                        {{fileChanges.message}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-8">
            <file-changes [fileChanges]="filePatch"></file-changes>
        </div>
    </div>
</template>


